framework:
    messenger:
        transports:
            async:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    exchange:
                        name: 'messages'
                        type: direct

        routing:
            'App\Message\DocumentUploadedMessage': async
